@import "General_project_nested.css";

body{
   text-align: center;
}

.img_card{
   width:100%;
}

.grid-container{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: 110px auto 200px ;
   grid-auto-rows: minmax(100px,auto);
   grid-template-areas:
   "hd hd hd hd hd"
   "ad ad mn mn mn"
   "ad ad mn mn mn"
   "ad ad mn mn mn"
   "ad ad mn mn mn"
   "ad ad mn mn mn"
   "ft ft ft ft ft "
}

.grid-container > * {
  padding: 15px;
  color: #fff;
  border: 20px solid black;
}

header{
   grid-area:hd;
   display: flex;
   background: #f60;
   border: 20px solid black;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
}

main{
   grid-area:mn;
   background: blue;
   border: 30px solid black;
  
}

aside{
   grid-area:ad;
   background:gold ;
   border: 30px solid  palevioletred;
}
footer{
   grid-area:ft;
   background:#003800;
   border: 30px solid goldenrod
}

@media screen and (max-width:959px){
   body{
      width: 100%;
   }

   header{
      width:100%
   }

   input{
      width:100%
   }
}

@media screen and (max-width:640px){
   body{
      width:100%;
   }

   header{
      width:100%
   }

   input{
      width:100%
   }
}




