@import "home_nested.css";

body{
 margin: 5px
}

#container{
    background-image: url(../General_Project/imag/nowhere.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 128px auto 220px ;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m"
    "m m m m m m m m m m m m"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f";
}

.header{
    grid-area: h;
    border: 15px solid black;
}

.aside{
    grid-area: a;
    border: 8px solid black;
}

.main{
    grid-area: m;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: f;
}
   
    



