#container{
    height: 100%;
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 110px auto 200px ;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    "a a h h h h h h h h h h"
    "a a m m m m m m m m m m"
    "f f f f f f f f f f f f";
    background-color: goldenrod;
   

    
}
.header{
    /* display: grid;
    background-color: indianred;
    grid-column: 1/13;
    grid-row:1 ; */
    grid-area: h;
    background-color: indianred ;
    border: 15px solid black;
}

.header_btn{
    border: none;
    padding: 8px 25px;
    color: #fff;
    font-weight: 600; 
    background-color: #51bb7b;
    text-decoration: none;
    list-style: none;
}
/* nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    background-color: crimson;
} */

ul, li {
    display: flex;
    font-size: 16px;
    color:black;;
    list-style: none;
    background-color: blue;
    justify-content: flex-end;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px ;
}



/* .nav{
    display: grid;
    background-color: indianred;
    grid-column:1/13;
    grid-row: 2/4;
} */

.aside{
    /* display: grid;
    
    grid-column:1/5;
    grid-row:3/6;
     */
    grid-area: a;
    background-color: indigo;
    border: 8px solid black;

}
.main{
    /* display: grid;
   
    grid-column: 5/12;
    grid-row:3/6; */
    grid-area: m;
    background-color: lightseagreen;
}

/* .main_nested{
    background-color: coral;
    grid-template-columns: (2,1fr);
    grid-template-rows: (2,1fr);
} */

.footer{
    /* display: grid;
    
    grid-column: 1/12;
    grid-row: 6/7; */
    grid-area: f;
    background-color: olive;
}
   
    



